@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask-radial-at-center {
    mask-image: radial-gradient(circle at center, black, transparent);
  }

  .mask-radial-from-45\% {
    mask-position: 45%;
  }

  .mask-radial-to-80\% {
    mask-position: 80%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #081c15;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}